 .u-section-1 {
  background-image: none;
  min-height: 1184px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 214px;
  margin: 50px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 113px;
  margin: -164px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 126px;
  margin: -113px auto 0 calc(((100% - 1140px) / 2) + -381px);
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 776px;
  width: 2151px;
  margin: 38px auto 0;
}

.u-section-1 .u-image-4 {
  width: 570px;
  height: 105px;
  margin: 0 calc(((100% - 1140px) / 2) + -505px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 705px;
  height: 144px;
  margin: -105px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-3 {
    margin-top: 118px;
    margin-left: calc(((100% - 940px) / 2) + -381px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-top: -213px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2) + -505px);
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + -381px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + -505px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 203px;
    margin-top: -55px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 107px;
    margin-top: 201px;
    margin-right: calc(((100% - 1140px) / 2) + -216px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -124px;
    margin-left: calc(((100% - 1140px) / 2) + -154px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 30px;
    width: 540px;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 61px);
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 110px;
    margin-bottom: 53px;
    margin-left: calc(((100% - 1140px) / 2) + -227px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 977px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 128px;
    margin-top: -2px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 67px;
    margin-top: 210px;
    margin-right: calc(((100% - 1140px) / 2) + -116px);
  }

  .u-section-1 .u-image-3 {
    width: 170px;
    height: 38px;
    margin-top: -71px;
    margin-left: calc(((100% - 1140px) / 2) + -54px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 65px;
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 161px);
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 69px;
    margin-bottom: -35px;
    margin-left: calc(((100% - 1140px) / 2) + -127px);
  }
}